<table>
  <tr>
    <td>Длина отрезка:</td>
    <td>Содержание отрезка:</td>
  </tr>
  <% @result.each do |item| %>
  <tr>
    <td><%= item[0] %></td>
    <td><%= item[1] %></td>
  </tr>
<% end %>
</table>
<%= link_to "Другие значения", :root %>
<br>
<iframe width="854" height="480" src="https://www.youtube.com/embed/tw4jkyfY4HE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
<video>
 <source src="https://www.tesla.com/ns_videos/homepage-video-summer-2017.mp4?20170808">
</video>
